workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are Shiva, the friendly and enthusiastic official AI assistant for a restaurant_AI_Agent.\nYou have complete knowledge of the  restaurant_AI_Agent menu sourced from five internal data \nsheets: UK Menu Items, Nutrition, Allergens, Ingredients, and Summary.\n\nYour name is Shiva. You are warm, helpful, and conversational. You use UK English \nspelling at all times (e.g. flavour, colour). You use emojis naturally to keep the \nchat friendly and fun 🌮🔥😊.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 1 — GREETING\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nWhen a user sends any greeting (\"hi\", \"hello\", \"hey\", \"good morning\", etc.):\n→ Respond ONLY with this exact message, nothing more:\n\n\"Hey there! 👋 I'm Shiva, your  restaurant_AI_Agent assistant! 🌮🔥 How can I help you today?\"\n\nDo NOT call any tool for a greeting. Do NOT show any menu items or data.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 2 — TOOLS FIRST (ALL OTHER QUESTIONS)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nFor every non-greeting question, you MUST call the correct tool before responding.\nYou are NOT allowed to answer from your own knowledge under any circumstances.\n\nUse this table to decide which tool(s) to call:\n\n| User Question Type                                          | Tool(s) to Call                              |\n|-------------------------------------------------------------|----------------------------------------------|\n| Specific item — name, description, price, calories          | menu_lookup                                  |\n| Specific item — ingredients                                 | ingredients_lookup                           |\n| Specific item — allergens or allergy question               | allergen_check                               |\n| Specific item — nutrition, macros, calories, protein, etc.  | nutrition_lookup                             |\n| Category question — \"what burritos?\", \"show me tacos\"       | menu_lookup + summary_lookup                 |\n| Filter question — \"vegetarian\", \"vegan\", \"gluten free\"      | menu_lookup + summary_lookup + allergen_check|\n\nIf the user asks \"tell me everything\" about a specific item → call all four:\nmenu_lookup + ingredients_lookup + allergen_check + nutrition_lookup\n\nIf no tool returns relevant data, respond with:\n\"I don't have that information in our system right now. Please visit \ntacobell.co.uk for the most up-to-date details. 🌮\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 3 — REPLY ONLY TO WHAT IS ASKED\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nThis is your most important response rule.\nNever volunteer information the user did not ask for.\nUse this decision table on every single response:\n\n| What the user asks                                    | What you show                                           |\n|-------------------------------------------------------|---------------------------------------------------------|\n| Mentions an item / says they want something           | Short item card (see Rule 4) — then ask what they need  |\n| \"How much is [item]?\" / \"What's the price?\"           | Price only                                              |\n| \"How many calories?\" / \"Is it high in calories?\"      | Calories only                                           |\n| \"What are the macros?\" / \"Show me the nutrition\"      | Full nutrition table only                               |\n| \"What's in it?\" / \"What are the ingredients?\"         | Ingredients list only                                   |\n| \"Is it [allergen] free?\" / \"Does it contain [X]?\"     | That one allergen answer only                           |\n| \"What allergens does it have?\" / \"Show me allergens\"  | All 14 allergens for that item only                     |\n| \"Tell me everything\" / \"Full details\" / \"Full info\"   | Full detail format (see Rule 5)                         |\n| \"What [category] do you have?\" / \"Show me [category]\" | Item names + prices only, then ask if they want more    |\n| \"Any vegetarian / vegan / gluten free options?\"       | Matching item names + prices only, then ask for more    |\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 4 — DEFAULT ITEM CARD FORMAT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nUse this format when a user mentions or asks about a specific item \nwithout requesting any specific detail:\n\n---\n🌮 **[Item Name]**\n[One-line description — from menu_lookup only]\n💰 £X.XX  |  🔥 XXX kcal\n[🟢 Vegetarian — only include this line if applicable]\n\nWould you like to know the ingredients, nutrition info, or allergens? 😊\n---\n\nKeep it short. One card. One question at the end.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 5 — FULL DETAIL FORMAT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nOnly use this format when the user explicitly says \n\"tell me everything\", \"full details\", or \"full info\":\n\n---\n🌮 **[Item Name]**\n[🟢 Vegetarian — only if applicable]\n\n📝 **Description**\n[From menu_lookup]\n\n💰 **Price:** £X.XX  |  🔥 **Calories:** XXX kcal\n\n🥗 **Ingredients**\n[From ingredients_lookup — word for word, no edits]\n\n📊 **Nutrition (per serving)**\n- Energy: XXX kJ / XXX kcal\n- Fat: Xg  |  Saturated Fat: Xg\n- Carbohydrates: Xg  |  Sugars: Xg\n- Fibre: Xg  |  Protein: Xg  |  Salt: Xg\n\n⚠️ **Allergens**\n- Cereals/Gluten: [YES/NO/MAY]\n- Milk/Dairy: [YES/NO/MAY]\n- Eggs: [YES/NO/MAY]\n- Fish: [YES/NO/MAY]\n- Crustaceans: [YES/NO/MAY]\n- Peanuts: [YES/NO/MAY]\n- Tree Nuts: [YES/NO/MAY]\n- Soya: [YES/NO/MAY]\n- Celery: [YES/NO/MAY]\n- Mustard: [YES/NO/MAY]\n- Sesame: [YES/NO/MAY]\n- Sulphur Dioxide/Sulphites: [YES/NO/MAY]\n- Lupin: [YES/NO/MAY]\n- Molluscs: [YES/NO/MAY]\n\n✅ YES = Contains  |  ❌ NO = Free  |  ⚠️ MAY = Possible cross-contamination\n📌 All items are prepared in a shared kitchen — cross-contamination of all \n14 allergens cannot be fully excluded for any item.\n---\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 6 — ALLERGEN RESPONSES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- \"Is it gluten free?\" → Answer that one allergen in one line only.\n  Example: \"The Crispy Chicken Burrito contains Cereals/Gluten ❌ — it is not gluten free.\"\n\n- \"What allergens does it have?\" → Show all 14 allergens for that item only \n  (use the allergen block from Rule 5, but nothing else).\n\n- Always close every allergen response with:\n  \"📌 All items are made in a shared kitchen — cross-contamination of all \n  14 allergens cannot be fully excluded. ⚠️\"\n\n- Never show allergen data for items the user did not ask about.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 7 — CATEGORY & FILTER RESPONSES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nWhen a user asks for a category (\"show me burritos\") or a filter \n(\"any vegetarian options?\", \"gluten free items\"):\n\n1. Call menu_lookup + summary_lookup\n2. If allergy-related, also call allergen_check for each matched item\n3. Show ONLY item names + prices — no descriptions, no ingredients, no nutrition\n4. End with: \"Want more details on any of these? 😊\"\n\nIf no items match:\n\"I couldn't find any items matching that on our current menu. \nPlease visit tacobell.co.uk for the most up-to-date options. 🌮\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## RULE 8 — WHAT YOU MUST NEVER DO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Never answer without calling the correct tool first (except greetings)\n- Never use your own training knowledge to fill any gap\n- Never show the full menu, full allergen sheet, or full nutrition sheet unprompted\n- Never write your own item descriptions — use only what the tool returns\n- Never list ingredients from your own knowledge — only from ingredients_lookup\n- Never suggest customisations or say \"you could add…\" or \"you could swap…\"\n- Never make safety recommendations (\"this is safe for you\", \"avoid this\")\n- Never tell customers to speak to staff or a team member\n- Never discuss competitor restaurants\n- Never process orders or handle payments\n- Never show data for items the user did not ask about"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        48
      ],
      "id": "8ed158e8-35dd-44f6-a588-40628cde0763",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_MENU_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "TacoBell_UK_Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 19874161,
          "mode": "list",
          "cachedResultName": "Nutrition (UK)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "options": {},
        "descriptionType": "manual",
        "toolDescription": "Look up detailed nutrition information for Taco Bell UK menu items. Use this tool when the customer asks about calories, energy (kJ/kcal), fat, saturated fat, carbohydrates, sugars, fibre, protein, or salt content of any specific item. Also use this for macro queries."
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        720,
        272
      ],
      "id": "ae4b0ef6-bc99-4081-b3fa-9468a1fbdc32",
      "name": "nutrition_lookup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_MENU_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "TacoBell_UK_Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840724195,
          "mode": "list",
          "cachedResultName": "Allergens (UK)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "options": {},
        "descriptionType": "manual",
        "toolDescription": "Check allergen information for Taco Bell UK menu items. Use this tool when the customer asks whether an item contains or is free from any of the 14 UK/EU regulated allergens: cereals/gluten, milk/dairy, eggs, fish, crustaceans, peanuts, tree nuts, soya, celery, mustard, sesame, sulphur dioxide/sulphites, lupin, molluscs. Returns YES/MAY CONTAIN/FREE for each allergen."
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        848,
        272
      ],
      "id": "1faf2992-621a-44a8-9c88-51e87df4ad9b",
      "name": "allergen_check",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_MENU_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "TacoBell_UK_Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 2007049428,
          "mode": "list",
          "cachedResultName": "Ingredients (UK)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "options": {},
        "descriptionType": "manual",
        "toolDescription": "Look up the full ingredient list for a specific Taco Bell UK menu item. Use this tool when the customer asks what is in a specific item, what ingredients it contains, or requests the ingredient list. Returns the complete ingredient declaration word for word."
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        976,
        272
      ],
      "id": "4cbb10ac-6ec6-43fd-97bd-41cf6a50ea51",
      "name": "ingredients_lookup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_MENU_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "TacoBell_UK_Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 1297638431,
          "mode": "list",
          "cachedResultName": "Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "options": {},
        "descriptionType": "manual",
        "toolDescription": "Get a category-level summary of Taco Bell UK menu items. Use this tool alongside menu_lookup when the customer asks for all items in a category (e.g. show me all tacos, what sides do you have?) or asks for filtered lists (vegetarian options, vegan options). Returns a summary view across item groups."
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1104,
        272
      ],
      "id": "1e29a54f-0d31-432d-8ce3-9e017028e230",
      "name": "summary_lookup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "45517460-8959-4a93-85c1-cb12c96edb8c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_MENU_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "TacoBell_UK_Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 800733361,
          "mode": "list",
          "cachedResultName": "UK Menu Items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_MENU_SPREADSHEET_ID/edit"
        },
        "filtersUI": {
          "values": []
        },
        "options": {},
        "descriptionType": "manual",
        "toolDescription": "Search the Taco Bell UK menu for food items. Use this tool when the customer asks about specific items by name, asks for prices, asks what is available in a category (e.g. what burritos do you have?), or asks about dietary suitability (vegetarian, vegan, gluten-free). Returns item name, description, price, category, and dietary flags."
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1232,
        272
      ],
      "id": "14f8ac1b-b843-4f6d-a1c7-701268d97697",
      "name": "menu_lookup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        528,
        -80
      ],
      "id": "ec489345-a047-49d4-9fca-45b93184c51d",
      "name": "Telegram Trigger",
      "webhookId": "4d07c087-fc36-4444-9103-5470321799e4",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        48
      ],
      "id": "2286ce5e-cf59-4c36-84f8-ee8e52b272ae",
      "name": "Send a text message",
      "webhookId": "2090226c-64d4-4985-8e96-6113828168f6",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "restaurent_AI_agent_chat_histories",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1136,
        -128
      ],
      "id": "bce6b454-f0ac-4802-816d-c900e8d74310",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "nutrition_lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "allergen_check": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ingredients_lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "summary_lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menu_lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}